body {
  background-color: #fff;
  margin: 0;
  padding-top:152px;
}
.cntr {
  width:1600px;
  margin-left: auto;
  margin-right: auto;
}
.hdr {
  width:1600px;
  height: 120px;
  background-color: #aaa;
  color: #85144b;
  margin-left: auto;
  margin-right: auto;
  line-height: 120px;
  text-align: center;
  display: flex;
  font-family: 'Cousine', monospace;
  font-size: 48px;
  position:fixed;
  top: 32px;
}
#idLft{
  width: 196px;
}
#idBio {
  width: 156px;
}
#idAch {
  width: 426px;
}
#idExp {
  width: 352px;
}
#idTrn {
  width: 276px;
}
#idRgh {
  width: 194px;  
}
#idBio:hover {
  background-color: #85144b;
  color: #f0f0f0;
  cursor: pointer;
}
#idAch:hover {
  background-color: #85144b;
  color: #f0f0f0;
  cursor: pointer;
}
#idExp:hover {
  background-color: #85144b;
  color: #f0f0f0;
  cursor: pointer;
}
#idTrn:hover {
  background-color: #85144b;
  color: #f0f0f0;
  cursor: pointer;
}
.row {
  margin: 0;
  padding: 0;
  width:1600px;
  margin-left: auto;
  margin-right: auto;
  z-index: -100;
  opacity: 1.0;
  position:relative;
}
.wall {
  width:100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  height: 32px;
  opacity: 1.0;
  position: fixed;
  top: 0;
}
.ttl {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  letter-spacing: 1px;
  color: #444;
  margin-bottom: 10px
}
.ttl3 {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  letter-spacing: 3px;
  margin-top:-36px;
  color: #444;
}
.main-ttl {
  position:relative;
  /*left: 32px;*/
  top: -320px;
  z-index=-1;
}

.stroke-text {
  color: #444;
  text-shadow: 1px 0 0 silver, 0 1px 0 silver, -1px 0 0    silver, 0 -1px 0 silver;
}

.grid-container {
  display: grid;
  width: 1600px;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2px;
  margin-left: auto;
  margin-right: auto;
  position:relative;
  z-index: -1;
  margin-top: 2px;
  height: 888px;
}

.parag {
  font-family: 'Cousine', monospace;
  font-size: 28px;
  line-height: 64px;
}
#image {
  list-style-image: url(http://i.piccy.info/i9/ed3c2bd323d15f8bde658caf82ea9867/1613608114/3264/1416938/yoda22.png);
  font-family: 'Cousine', monospace;
  font-size: 28px;
  line-height: 64px;
  margin-left: 64px;
  padding-top: 12px;
}

.image {
  list-style-image: url(http://i.piccy.info/i9/ed3c2bd323d15f8bde658caf82ea9867/1613608114/3264/1416938/yoda22.png);
  font-family: 'Cousine', monospace;
  font-size: 20px;
  line-height: 64px;
  margin-left: 64px;
  padding-top: 12px;
}

.hmtbl {
  width:1600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;  
}
.divhr {
  width:1600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2px;
  text-align: center;  
  background-color: #f5f5f5;  
}
.tdhm {
  width: 133px;
  height: 98px;
}
.tdhmbg {
  width: 230px;
  height: 173px;
  margin: 0;
}

.tdimg {
  height: 392px;
  width: 928px;
  padding: 0;
  background: url("http://i.piccy.info/i9/d30dde645261b2cb577ddc030c2de00b/1613919463/14474/1416938/by01.jpg");
  background-repeat: no-repeat;
}
.ftr {
  width:1600px;
  height:200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;  
  background-color: black;
  margin-top: 2px;
}
.hdrb {
  font-family: 'Cousine', Monospace;
  font-size: 54px;
  color: #222;
  letter-spacing: 1px;
  margin-top: 24px;
}

.hdrsm {
  font-family: 'Cousine', Monospace;
  font-size: 40px;
  color: #222;
  margin-top: 48px;
  line-height: 56px;
}

.hdrsub {
  font-family: 'Cousine', Monospace;
  font-size: 22px;
  color: #222;
  margin-top: 40px;
  line-height: 40px;
}

.hdri {
  font-family: 'Playfair+Display', Sans;
  font-style: italic;
  font-weight: 900;
  font-size: 32px;
  color: #222;
  margin-top: 6px;
  line-height: 48px;
}
.sky1 {
  height:768px;
  background-image: url('http://i.piccy.info/i9/9ccac0dc887c2224adc3c3bfc8bc8c35/1613922110/54766/1416938/1bDq_165.jpg');
}

.sky2 {
  height:768px;
  background-image: url('http://i.piccy.info/i9/34cdefba35af8b8fcc59ea13f2534e62/1613922750/46908/1416938/1bDq_57.jpg');
}
.sky3 {
  height:1200px;
  background-image:
url('http://i.piccy.info/i9/bda7c9a8171c87cdb0be2f91e5484012/1613944353/160962/1416938/sky3.jpg');
}  
.qte {
  color: #75808a;
  font-family: 'Playfair+Display', sans;
  font-weight: 500;
  font-size: 192px;
}

.light-stroke-text {
  color: #75808a;
  text-shadow: 1px 0 0 silver, 0 1px 0 silver, -1px 0 0    silver, 0 -1px 0 silver;
}
.bqt-txt {
  font-family: 'Playfair+Display', sans;
  font-weight: 900;
  font-size: 108px;  
  color: #75808a;
  letter-spacing: 2px;
  text-shadow: 1px 0 0 silver, 0 1px 0 silver, -1px 0 0    silver, 0 -1px 0 silver;
  margin-top: -96px;
  padding: 0;
  line-height: 124px;
  font-style: italic;
  margin-left: 64px;
  position: relative;
}
.dv {
  height: 115px; 
  width: 115px;
  background-image: url('http://i.piccy.info/i9/d2591dee153a17c45b7af57e8a8b63dd/1613955193/5622/1416938/dv.png');
  border: 5px solid silver;
  border-radius: 50%;
  position: relative;
  bottom: -2px;
  left: 495px
}
.dv1 {
  font-family: 'Cousine', monospace;
  font-weight: 500;
  font-size: 32px;  
  color: #000;
  letter-spacing: 1px;
  text-shadow: 1px 0 0 silver, 0 1px 0 silver, -1px 0 0    silver, 0 -1px 0 silver;  
  position: relative;
  top: -83px;
  left: 128px;
}
.dv2 {
  font-family: 'Cousine', monospace;
  font-type: italic;
  font-size: 24px;  
  font-weight: 400;
  color: #000;
  letter-spacing: 1px;
  text-shadow: 1px 0 0 silver, 0 1px 0 silver, -1px 0 0 silver, 0 -1px 0 silver;  
  position: relative;
  top: -83px;
  left: 128px;
}

.btnX {
  cursor: pointer;
  opacity: 0.5;
}
.btnX:hover {
  opacity: 1.0;
}